[submodule "manager/core"]
	path = manager/src/core
	url = git@github.com:projectestac/merli2-webprotege.git
[submodule "maven/webprotege"]
	path = utilities/webprotege
	url = git@github.com:projectestac/merli2-webprotege-maven.git
